<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feicui.oawb.dao.DepartmentMapper">
	
	<!-- 添加部门 -->
	<insert id="insertDepartment" parameterType="department">
		INSERT INTO department(NAME,author,updater,createTime,createDate,updateDate) 
		VALUES(#{name},#{author},#{updater},#{createTime},#{createDate},#{updateDate})
	</insert>
	
	<!-- 修改部门信息 -->
	<update id="updateDepartment" parameterType="department">
		UPDATE department SET NAME=#{name},updater=#{updater},updateDate=#{updateDate} WHERE id=#{id}
	</update>
	
	<!-- 根据部门编号删除部门(假删除) -->
	<update id="deleteDepartment" parameterType="department">
		UPDATE department SET isDeleted=1,updater=#{updater},updateDate=#{updateDate} WHERE id=#{id}
	</update>
	
	<!-- 根据部门编号查询部门信息 -->
	<select id="queryDepartmentInfoByID" parameterType="int" resultType="department">
		SELECT * FROM department WHERE id=#{id}
	</select>
	
	<!-- 查询所有的部门信息 -->
	<select id="queryAllDepartments" resultType="department">
		SELECT * FROM department where isDeleted=0
	</select>
</mapper>