<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feicui.oawb.dao.RoleMapper">
	
	<!-- 查询所有的角色 -->
	<select id="queryAllRoles" resultType="role">
		SELECT * FROM role WHERE isDeleted=0
	</select>
	
	<!-- 查询所有的权限 -->
	<select id="queryAllPermission" resultType="permission">
		SELECT * FROM permission WHERE isDeleted=0 ORDER BY id ASC
	</select>
	
	<!-- 根据角色ID，查询该角色拥有哪些权限 -->
	<select id="queryPermissionByRoleID" parameterType="int" resultType="permission">
		SELECT permission.*
		FROM permission,role_permission
		WHERE permission.id=role_permission.permissionID 
			AND role_permission.roleID=#{roleID}
			AND role_permission.isDeleted=0
			AND permission.isDeleted=0
	</select>
	
	<!-- 删除角色拥有的权限 -->
	<update id="deleteRolePermission" parameterType="rolePermission">
		UPDATE role_permission
		SET updater=#{updater},updateDate=#{updateDate},isDeleted=1
		WHERE roleID=#{roleID} AND permissionID=#{permissionID}
	</update>
	
	<!-- 插入角色拥有的权限 -->
	<insert id="insertRolePermission" parameterType="rolePermission">
		INSERT INTO role_permission(roleID,permissionID,author,updater,createTime,createDate,updateDate)
		VALUES(#{roleID},#{permissionID},#{author},#{updater},#{createTime},#{createDate},#{updateDate})
	</insert>
	
	<!-- 更新角色拥有的权限 -->
	<update id="updateRolePermission" parameterType="rolePermission">
		UPDATE role_permission
		SET updater=#{updater},updateDate=#{updateDate}
		WHERE roleID=#{roleID} AND permissionID=#{permissionID}
	</update>
	
	<!-- 添加角色 -->
	<insert id="insertRole" parameterType="role">
		INSERT INTO role(name,author,updater,createTime,createDate,updateDate)
		VALUES(#{name},#{author},#{updater},#{createTime},#{createDate},#{updateDate})
	</insert>
	
	<!-- 根据角色名称查询角色信息 -->
	<select id="queryRoleIDByName" parameterType="string" resultType="role">
		SELECT * FROM role WHERE NAME=#{name}
	</select>
	
	<!-- 修改角色是否可用 -->
	<update id="updateRoleUnavailable" parameterType="role">
		UPDATE role
		SET isAvailable=#{isAvailable},updater=#{updater},updateDate=#{updateDate}
		WHERE id=#{id}
	</update>
	
	<!-- 根据Account查询其拥有的角色 -->
	<select id="queryRoleByAccount" parameterType="string" resultType="role">
		SELECT role.* FROM user_role,role
		WHERE account=#{account} AND user_role.roleID=role.id  AND user_role.isDeleted=0 AND role.isDeleted=0
	</select>
</mapper>